/**********************
	FONTS
**********************/

/* Load variable font if supported */
@supports(font-variation-settings: 'wdth' 120) {
    @font-face {
        font-family: 'Roboto';
        src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/23581/RobotoSlab-VariableFont_wght.ttf') format('truetype-variations');
        font-weight: 125 900;
        font-stretch: 50% 250%;
        font-style: normal;
        font-display: fallback;
    }
}

@font-face {
    font-family: 'Inter';
    src: url('https://fonts.google.com/specimen/Inter');
    font-weight: 300, 500, 700;
}

/**********************
	DEFAULTS
**********************/

:root {
    --DarkBlue:   hsl(240, 38%, 20%);
    --GrayishBlue: hsl(240, 18%, 77%);

    --PgFore:   black;
    --PgBack:   #FFFFFF;

    --LinkFore: #000099;
    --LinkBack: transparent;

    --FSXLarge: 2rem;
    --FSLarge: 1.2rem;
    --FSmall: 0.9rem;

    --SPMin:    320px;
    --SPMax:    480px;
    --TabMin:   481px;
    --TabMax:   1024px;
    --DTMin:    1440px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    background-color: var(--PgBack);
    color: var(--PgFore);
    font-family: 'Inter', arial, sans-serif;
    max-width: 1400px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    background-color: var(--LinkBack);
    color: var(--LinkFore);
    font-weight: bold;
}

/* ----- Appareils sans Hover ----- */
@media (hover: none) {
    a {
        color: var(--LinkFore);
        text-decoration: none;
        border-bottom: var(--LinkFore) 0.125em solid;
        text-decoration-color: var(--LinkFore);
    }
}

a:hover, a:focus {
    color: var(--LinkFore);
    text-decoration: none;
    border-bottom: transparent 0px solid;
    cursor: pointer;

    text-decoration-color: var(--PgFore);
}

img, embed, object, video {
    max-width:	100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

p {
    font-size: 20px;
    font-weight: 300;
    color: var(--DarkBlue);
}
/**** DESKTOP VERSION ***/
@media screen and (min-width: 1000px) {
    p {
        font-size: 32px;
        text-align: left;
    }
}

h1 {
    font-size: 16px;
    font-weight: 700;
}
/**** DESKTOP VERSION ***/
@media screen and (min-width: 1000px) {
    h1 {
        display: inline-block;
        
    }
}

h2 {
    font-size: 16px;
    font-weight: 300;
    color: var(--GrayishBlue);
}
/**** DESKTOP VERSION ***/
@media screen and (min-width: 1000px) {
    h2 {
        display: inline-block;
        text-align: left;
    }
}

/******* BLOCKS ******/
/*******        ******/

.dBottomBg {
    display: block;
    position: absolute;
    width: 75%;
    height: 10%;
    bottom: 0;
    left: 0;
    background: url("images/pattern-curve.svg") no-repeat center/cover;
    background-size: 100%;
}
/**** DESKTOP VERSION ***/
@media screen and (min-width: 1000px) {
    .dBottomBg {
        width: 20%;
        height: 25%;
    }
}

.dSliderWrapper {
    width: 327px;
    height: 308px;
    margin: 6% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/images/pattern-bg.svg') no-repeat center/contain;
}
/**** DESKTOP VERSION ***/
@media screen and (min-width: 1000px) {
    .dSliderWrapper {
        width: 50%;
        height: 100%;
        margin: 0 5% 0 0;
        background-size: 100%;
    }
}

.dSlider {
    position: relative;
    display: flex;
    justify-content: center;
    width: 75%;
    max-width: 250px;
    height: 80%;
    max-height: 250px;
    border-radius: 5px;
    margin: 0 0 0 0;
}
/**** DESKTOP VERSION ***/
@media screen and (min-width: 1000px) {
    .dSlider {
        max-width: 540px;
        max-height: 540px;
        width: 540px;
        height: 540px;
    }
}


.dSlider img {
    position: absolute;
    z-index: 5;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    box-shadow: 0 40px 50px -30px var(--DarkBlue);

}

.dSlides {
    position: absolute;
    width: 100%;
    height : 100%;
    border-radius: 5px;
}
.dSliderButtons {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: -20px;
    width: 80px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0 15px 20px -10px rgba(36,36,113,0.10);
    border-radius: 28px;
    transform: scaleX(-1);
    z-index: 10;
}
/**** DESKTOP VERSION ***/
@media screen and (min-width: 1000px) {
    .dSliderButtons {
        left: 60px;
        height: 50px;
        width: 112px;
    }
}

/****** DESKTOP VERSION ****/
@media screen and (min-width: 1000px) {
    main {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        height: 80vh;
    }
}

.sectTesti {
    margin-top: 15%;
    position: relative;
}
/******* DESKTOP VERSION *****/
@media screen and (min-width: 1000px) {
    .sectTesti {
    margin: 0 -15% 0 10%;
        width: 635px;
        z-index: 10;
    }
}

.dTestimonialWrapper {
    background: url('images/pattern-quotes.svg') no-repeat top center;
    background-size: 20%;
    padding: 3% 5% 5% 5%;
    text-align: center;
}

#testimonial2 {
    position: absolute;
    top: 0;
    left: 0;
}

.slider-item {
    opacity: 0;
}
.slider-item.active {
    opacity: 1;
    animation: fadeInRight forwards 2s;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(30px);
    }
    to {
        opacity: 1;
    }
}